main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    position: relative;
    margin:20px 50px;
    border: 2px var(--primary-color) solid;
    height:90%;
    width:80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.entry {
    height:12%;
    text-align: left;
    padding: 20px 20px 5px 20px;
    margin:10px 20px;
    border-radius: 10px;
    .time {
        margin-left:10px;
        font-size: 0.8rem;
    }
    .name {
        font-size: 1.2rem;
    }
    .message {
        border-bottom: 1px var(--line-color) solid;
        padding: 0px 0px 5px 20px;
        margin-top: 8px;
    }
}


.entry:hover {
    background-color: var(--hover-color);
}

h1 {
    margin: 30px 0px 0px 0px;
    font-weight: 300;
    font-style: italic;
    width:80%;
    text-align: left;
    color:var(--line-color);
}

span.count {
    position: absolute;
    top:-30px;
    right:10px;
}

button.left {
    position: absolute;
    left: -10%;
    top:40%;
}

button.right {
    position: absolute;
    right:-10%;
    top:40%;
}

button.left, button.right {
    background-color: transparent;
    box-icon.icon {
        margin:5px 10px;
        fill:var(--font-color)
    }
}